
@import "partials/variables";
@import "partials/mixin";


body{
    margin: 0px;
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
    
    header{
        background-color: rgb(245,175,28);
        height: 80px;
        display: flex;
        justify-content: space-between;
        align-items: center;


        p{
            font-size: $bigsize;
            font-family: 'Alex Brush';
            display: flex;
            margin: 0%;
        }
        
        nav{
            display: flex;
            justify-content: center;

            ul{
                @extend nav;
                list-style: none;
                padding: 0%;

                a{
                    font-family: 'Cambria';
                    text-decoration: none;
                    color: rgb(10, 10, 10);
                    padding: 27px;
                    font-size: 22px;

                    &:hover{
                        color: wheat;
                    }
                }
            }
        }
    }

    main{

        .titulo{
            font-family: 'Allerta Stencil';
            font-size: 60px;
            margin-top: 15px;
            text-align: center;
        }

        .imagenes{
            display: flex;
            flex-wrap: wrap;
            width: 760px;
            margin: 0 auto;
            gap: 80px;                                                 
        
            
            img{
                @include sizes(200px, 200px);
                transition: border-radius 1s;

                &:hover{
                    border-radius: 20%;
                }
            }
            
            .nombreHam{
                font-family: Verdana;
                font-size: 15px;
                padding-bottom: 60px;
            }
        }


        .grilla{
            display: grid;
            grid-template-columns: repeat(2,200px);
            grid-auto-rows: 200px;
            gap: 10px;
            justify-content: center;
    
            .item1{
                grid-column: 1 / -4;
    
                h1{
                    font-size: $mediumSize;
                    font-family: 'verdana';
                    color: rgb(245,175,28);
                }
                
                p{
                    font-size: $smallSize;
                    font-family: sans-serif;
                }
            }
            .item2{
                grid-column: 4 / -1;
    
                h1{
                    font-size: $mediumSize;
                    font-family: 'verdana';
                    color: rgb(245,175,28);
                }
                
                p{
                    font-size: $smallSize;
                    font-family: sans-serif;
                }
            }
            .item3{
                grid-column: 1 / -4;
    
                h1{
                    font-size: $mediumSize;
                    font-family: 'verdana';
                    color: rgb(245,175,28);
                }
                
                p{
                    font-size: $smallSize;
                    font-family: sans-serif;
                }
            }
            .item4{
                grid-column: 4 / -1;
    
                h1{
                    font-size: $mediumSize;
                    font-family: 'verdana';
                    color: rgb(245,175,28);
                }
                
                p{
                    font-size: $smallSize;
                    font-family: sans-serif;
                }
            }
        }

        p{
            font-size: $mediumSize;
            font-family: Georgia;
            text-align: center;        
        }

        .imgFundadores{
            height: 220px;
            width: 500px;
            display: block;
            padding-bottom: 70px;
            margin-left: auto;
            margin-right: auto;        
        }

    }

    footer{
        background-color: #332E2E;
        height: 200px;
        display: flex;
        justify-content: space-between;
        margin-top: auto;

        .logoFooter{
            justify-content: left;
            width: 154px;

            h2{
                color:  rgb(245,175,28);
                font-size: $bigsize;
                margin-top: 10px;
                font-family: 'Alex Brush';
                width: $bigsize;
            }
        }

        .footerText{
            display: block;

            p{
                color: white;
                font-size: $smallSize ;
                font-family: 'Lucida Sans';
                text-align: start;
            
            }

        }
                
        
    }
}
@import "partials/mediaQuery";

